* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #222;
}

header {
    background: #111;
    color: white;
    padding: 25px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.inicio {
    text-align: center;
    padding: 80px 20px;
}

.inicio h2 {
    font-size: 38px;
}

.inicio p {
    font-size: 18px;
}

button {
    background: #111;
    color: white;
    border: none;
    padding: 13px 25px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #444;
}

.busqueda {
    max-width: 500px;
    margin: 40px auto;
}

.busqueda input {
    padding: 13px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 8px;
}